body {
  margin:0;
  font-family: Arial;
  background:#0b1220;
  color:white;
  text-align:center;
}

header {
  padding:40px;
}

.hero {
  padding:60px;
}

button {
  padding:15px 25px;
  background:gold;
  border:none;
  border-radius:10px;
  font-size:18px;
}
